@import url(https://fonts.googleapis.com/css?family=Jost);

body {
  margin: 0;
  font-family: Jost;
  color: #292929;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
